html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}
body {
  margin: 0;
  font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}
button,input,select,textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
}
a{
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
p{
  margin: 0;
}
header{
  text-align: center;
  background-color: #95f0c0;
}
#title{
  margin: 0;
  padding-top: 70px;
  font-size: 4rem;
  color: #928393;
}
#subtitle{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 100px;
  font-size: 1.5rem;
  color: #928393;
}
#container{
  width: 1200px;
  margin: -50px auto 0;
}

.card{
  min-height: 200px;
  width: 96%;
  background-color: #f6faee;
  margin: auto;
  border: 0;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 3px 7px 2px #aaaaaa;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cardtitle{
  text-indent: 4em;
  font-size: 1.6rem;
  color: #666666;
  padding-bottom: 10px;
  font-weight: bold;

}

.cardsubtitle{
  text-indent: 4em;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
  margin-top: 15px;
}

.card p{
  font-size: 1.1rem;
  color: #666;
  text-indent: 2em;
  padding-left: 40px;
}

.mdbtn{
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.div-1{
  border: 0;
  background-color: #dbed28;
  width: 400px;
  height: 60px;
  margin: 20px auto;
  font-size: 1.5rem;
  line-height: 60px;
  color: #666;
}
.button-1{
  display: block;
  border: 0;
  background-color: #ff9eb8;
  width: 400px;
  height: 60px;
  border-radius: 30px;
  margin: 20px auto;
  font-size: 1.5rem;
  line-height: 60px;
  color: #666;
}
.div-2{
  height: 80px;
  width: 100%;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  clear: both;
  font-size: 1.5rem;
  color: #666;
  line-height: 80px;
  margin-bottom: 20px;
}
.a-1{
  background-color: #2aa3e3;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 30px;
  border-radius: 55px;
  width: 150px;
  height: 60px;
  display: block;
  margin: auto;
}
.a-2{
  background-color: #ff6268;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 20px 50px;
  border-radius: 50px;
  margin-left: 460px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.a-3{
  background-color: #f086a2;
  
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 50px;
  margin-left: 80px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.a-3:hover{
  background-color: #ffa6be;
  box-shadow: 0 2px 2px 1px #aaaaaa;
}
